# SPDX-FileCopyrightText: 2024-2026 The LineageOS Project
# SPDX-License-Identifier: Apache-2.0

on post-fs-data
    mkdir /data/vendor/misc 01771 system system
    mkdir /data/vendor/radio 0770 radio radio

on property:sys.boot_completed=1
    setprop vendor.powerhal.init 1
    write /sys/devices/virtual/thermal/thermal_message/sconfig 20
